[submodule "external/mcs-unity"]
	path = external/mcs-unity
	url = https://github.com/danilogmoura/mcs-unity
	branch = master
[submodule "external/UniverseLib"]
	path = external/UniverseLib
	url = https://github.com/danilogmoura/UniverseLib
	branch = main
